@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');

body{
    background-color: #EEEEEE;
    font-family: 'Noto Sans', sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main{
    flex-grow: 1;
}

.main p{
    font-family: 'ZCOOL XiaoWei', serif; ;
    color: #222831;
}

.app-text{
    font-size: 24px;
    font-weight: 500;
}

.main-404 h1{
    font-size: 32px;
}

header{
    margin-top: 16px;
    margin-bottom: 32px;
}

nav{
    border-bottom: 2px solid #ccc;
    padding-bottom: 32px;
}

nav a{
    color: #4D4D4D;
    margin-right: 16px;
    text-decoration: none;
}

footer{
    color: #393E46;
    border-top: 2px solid #ccc;
    margin-top: 16px;
    padding: 16px 0;
}

h1{
    font-size: 64px;
    color: #222831;
}


.search {
    width: 40%;
    display: flex;
  }
  
.searchTerm {
width: 100%;
border: 3px solid #4D4D4D;
border-right: none;
padding: 5px;
height: 20px;
border-radius: 5px 0 0 5px;
outline: none;
color: #ccc;
}

.searchTerm:focus{
color: #4D4D4D;
}

.searchButton {
width: 40px;
height: 36px;
border: 1px solid #4D4D4D;
background: #4D4D4D;
text-align: center;
color: #fff;
border-radius: 0 5px 5px 0;
cursor: pointer;
font-size: 20px;
}

#blue{
    color: #00ADB5;
}

.first{
    margin-top: 2rem;
    font-weight: 600;
}

.first #temp-num{
    font-size: 48px;
    color: #00ADB5;
}

.first #condition{
    font-size: 32px;
}